#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
#graphical
# Run the Setup Agent on first boot
firstboot --disable
selinux —-disabled
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=nimbusserver

# Root password
rootpw --iscrypted $6$.rZuDm1UociprJDC$SscJt.cdLfIzh5mTW5ASLbrrxy7S.T/0jtI//e9TOs3TATTC9HTGbLfSRGkeJ8hFwtmHp8OtoGhxfYLZR8T8u/
# System services
services --disabled="chronyd"
# System timezone
timezone America/New_York --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.531 --fstype="lvmpv" --ondisk=sda --size=306175
part /boot --fstype="xfs" --ondisk=sda --size=1024
volgroup centos --pesize=4096 pv.531
logvol /  --fstype="xfs" --size=301176 --name=root --vgname=centos
logvol swap  --fstype="swap" --size=4992 --name=swap --vgname=centos

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# Reboot after installation
reboot